/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* this is hello start */
    #hellostart .helloone .hellotwo .hellothree .hellofoure{
        width: 100%;
        font-size: 25px;
    }
    /* this is hello end */

    /* this is all start */
#allstart{
  width: 100%;
}
/* this is all end */
/* this is image start */
#image #imageone{
  width: 33.3333333%;
}
#image #imagetwo{
  width: 33.3333333%;
}
#image #imagethree{
  width: 33.3333333%;
}
#image #imagefour{
  width: 33.3333333%;
}
#image #imagefive{
  width: 33.3333333%;
}
.viewbutton{
  width: 12%;
}
/* this is image end */

/* this is Service start */
#serviceone #service1{
  width: 50%;
}
#serviceone #service2{
  width: 50%;
}
#serviceend #service3{
  width: 50%;
}
#serviceend #service4{
  width: 50%;
}
/* this is Service end */

/* this is Tesitmonial start */
#tesitmonial #tesitmonialstart{
  width: 100%;
}
/* this is Tesitmonial end */

/* this is eolore start */
#eolore #eoloreone{
  width: 33.3333333%;
}
#eolore #eoloretwo{
  width: 33.3333333%;
}
#eolore #eolorethree{
  width: 33.3333333%;
}
/* this is eolore end */

/* this is footer start */
#footer #footerone{
  width: 25%;
}
#footer #footertwo{
  width: 25%;
}
#footer #footerthree{
  width: 25%;
}
#footer #footerfour{
  width: 25%;
}

#copy #copyright{
  width: 100%;
}
/* this is footer end */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* this is hello start */
    #hellostart .helloone .hellotwo .hellothree .hellofoure{
        width: 100%;
        font-size: 25px;
    }
    /* this is hello end */
    /* this is all start */
#allstart{
  width: 100%;
}
/* this is all end */
/* this is image start */
#image #imageone{
  width: 33.3333333%;
}
#image #imagetwo{
  width: 33.3333333%;
}
#image #imagethree{
  width: 33.3333333%;
}
#image #imagefour{
  width: 33.3333333%;
}
#image #imagefive{
  width: 33.3333333%;
}
.viewbutton{
  width: 12%;
}
/* this is image end */

/* this is Service start */
#serviceone #service1{
  width: 50%;
}
#serviceone #service2{
  width: 50%;
}
#serviceend #service3{
  width: 50%;
}
#serviceend #service4{
  width: 50%;
}
/* this is Service end */
/* this is Tesitmonial start */
#tesitmonial #tesitmonialstart{
  width: 100%;
}
/* this is Tesitmonial end */

/* this is eolore start */
#eolore #eoloreone{
  width: 33.3333333%;
}
#eolore #eoloretwo{
  width: 33.3333333%;
}
#eolore #eolorethree{
  width: 33.3333333%;
}
/* this is eolore end */

/* this is footer start */
#footer #footerone{
  width: 25%;
}
#footer #footertwo{
  width: 25%;
}
#footer #footerthree{
  width: 25%;
}
#footer #footerfour{
  width: 25%;
}

#copy #copyright{
  width: 100%;
}
/* this is footer end */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* this is hello start */
    #hellostart .helloone .hellotwo .hellothree .hellofoure{
        width: 100%;
        font-size: 25px;
    }
    /* this is hello end */
    /* this is all start */
#allstart{
  width: 100%;
}
/* this is all end */
/* this is image start */
#image #imageone{
  width: 33.3333333%;
}
#image #imagetwo{
  width: 33.3333333%;
}
#image #imagethree{
  width: 33.3333333%;
}
#image #imagefour{
  width: 33.3333333%;
}
#image #imagefive{
  width: 33.3333333%;
}
.viewbutton{
  width: 12%;
}
/* this is image end */

/* this is Service start */
#serviceone #service1{
  width: 50%;
}
#serviceone #service2{
  width: 50%;
}
#serviceend #service3{
  width: 50%;
}
#serviceend #service4{
  width: 50%;
}
/* this is Service end */

/* this is Tesitmonial start */
#tesitmonial #tesitmonialstart{
  width: 100%;
}
/* this is Tesitmonial end */

/* this is eolore start */
#eolore #eoloreone{
  width: 33.3333333%;
}
#eolore #eoloretwo{
  width: 33.3333333%;
}
#eolore #eolorethree{
  width: 33.3333333%;
}
/* this is eolore end */

/* this is footer start */
#footer #footerone{
  width: 25%;
}
#footer #footertwo{
  width: 25%;
}
#footer #footerthree{
  width: 25%;
}
#footer #footerfour{
  width: 25%;
}

#copy #copyright{
  width: 100%;
}
/* this is footer end */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* this is hello start */
    #hellostart .helloone .hellotwo .hellothree .hellofoure{
        width: 100%;
        font-size: 25px;
    }
    /* this is hello end */
    /* this is all start */
#allstart{
  width: 100%;
}
/* this is all end */
/* this is image start */
#image #imageone{
  width: 33.3333333%;
}
#image #imagetwo{
  width: 33.3333333%;
}
#image #imagethree{
  width: 33.3333333%;
}
#image #imagefour{
  width: 33.3333333%;
}
#image #imagefive{
  width: 33.3333333%;
}
.viewbutton{
  width: 12%;
}
/* this is image end */

/* this is Service start */
#serviceone #service1{
  width: 50%;
}
#serviceone #service2{
  width: 50%;
}
#serviceend #service3{
  width: 50%;
}
#serviceend #service4{
  width: 50%;
}
/* this is Service end */

/* this is Tesitmonial start */
#tesitmonial #tesitmonialstart{
  width: 100%;
}
/* this is Tesitmonial end */

/* this is eolore start */
#eolore #eoloreone{
  width: 33.3333333%;
}
#eolore #eoloretwo{
  width: 33.3333333%;
}
#eolore #eolorethree{
  width: 33.3333333%;
}
/* this is eolore end */

/* this is footer start */
#footer #footerone{
  width: 25%;
}
#footer #footertwo{
  width: 25%;
}
#footer #footerthree{
  width: 25%;
}
#footer #footerfour{
  width: 25%;
}

#copy #copyright{
  width: 100%;
}
/* this is footer end */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* this is hello start */
    #hellostart .helloone .hellotwo .hellothree .hellofoure{
        width: 100%;
        font-size: 25px;
    }
    /* this is hello end */
    /* this is all start */
#allstart{
  width: 100%;
}
/* this is all end */
/* this is image start */
#image #imageone{
  width: 100%;
}
#image #imagetwo{
  width: 100%;
}
#image #imagethree{
  width: 100%;
}
#image #imagefour{
  width: 100%;
}
#image #imagefive{
  width: 100%;
}
.viewbutton{
  width: 50%;
  margin-left: 25%;
}
/* this is image end */

/* this is Service start */
#serviceone #service1{
  width: 100%;
}
#serviceone #service2{
  width: 100%;
}
#serviceend #service3{
  width: 100%;
}
#serviceend #service4{
  width: 100%;
}
/* this is Service end */

/* this is Tesitmonial start */
#tesitmonial #tesitmonialstart{
  width: 100%;
}
/* this is Tesitmonial end */

/* this is eolore start */
#eolore #eoloreone{
  width: 100%;
}
#eolore #eoloretwo{
  width: 100%;
}
#eolore #eolorethree{
  width: 100%;
}
/* this is eolore end */

/* this is footer start */
#footer #footerone{
  width: 100%;
}
#footer #footertwo{
  width: 100%;
}
#footer #footerthree{
  width: 100%;
}
#footer #footerfour{
  width: 100%;
}

#copy #copyright{
  width: 100%;
}
/* this is footer end */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* this is hello start */
    #hellostart .helloone .hellotwo .hellothree .hellofoure{
        width: 100%;
        font-size: 25px;
    }
    /* this is hello end */
    /* this is all start */
#allstart{
  width: 100%;
}
/* this is all end */
/* this is image start */
#image #imageone{
  width: 100%;
}
#image #imagetwo{
  width: 100%;
}
#image #imagethree{
  width: 100%;
}
#image #imagefour{
  width: 100%;
}
#image #imagefive{
  width: 100%;
}
.viewbutton{
  width: 50%;
  margin-left: 25%;
}
/* this is image end */

/* this is Service start */
#serviceone #service1{
  width: 100%;
}
#serviceone #service2{
  width: 100%;
}
#serviceend #service3{
  width: 100%;
}
#serviceend #service4{
  width: 100%;
}
/* this is Service end */

/* this is Tesitmonial start */
#tesitmonial #tesitmonialstart{
  width: 100%;
}
/* this is Tesitmonial end */

/* this is eolore start */
#eolore #eoloreone{
  width: 100%;
}
#eolore #eoloretwo{
  width: 100%;
}
#eolore #eolorethree{
  width: 100%;
}
/* this is eolore end */

/* this is footer start */
#footer #footerone{
  width: 100%;
}
#footer #footertwo{
  width: 100%;
}
#footer #footerthree{
  width: 100%;
}
#footer #footerfour{
  width: 100%;
}

#copy #copyright{
  width: 100%;
}
/* this is footer end */
    
  }